@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: 'Poppins';
}

header {
  background: #b580ff;
  background: linear-gradient(90deg, rgba(181, 128, 255, 1) 0%, rgba(136, 125, 255, 1) 70%);
  color: white;
  font-size: 1.3rem;
  text-align: center;
  padding: 1.5vmin 0vmin;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7vmin;
  padding: 5vmin 3vmin;
  align-items: start;
}

.form-section {
  flex: 1;
  background-color: white;
  padding: 4vmin;
  border-radius: 10px;
  box-shadow: 0px 4px 20px #0000001d;
  border: 1px solid #dadada;

}

.nav-buttons-div {
  display: flex;
  gap: 0.8vmin;
  max-width: min-content;
  align-items: center;
  border: 1px solid black;
  padding: 0.4vmin;
  border-radius: 8px;
  margin-bottom: 4vmin;
}

.form-nav-button {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;

  &:hover {
    background-color: rgb(212, 211, 211);
  }
}

.form-nav-button img {
  width: 35px;
}

.form {
  font-size: 1.3rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 1.4vmin;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 0.3vmin;
}

.form div input {
  font-size: 1rem;
  padding: 0.8vmin 1.2vmin;
  border-radius: 8px;
  border: 1px solid rgb(158, 158, 158);

  &:focus {
    outline: none;
  }
}

.preview-cv {
  flex: 1;
  font-family: 'EB Garamond';
  box-shadow: 0px 4px 20px #0000001d;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 7vmin 4.5vmin;
}

.preview-cv h4 {
  border-bottom: 1px solid black;
  margin-bottom: 8px;
  margin-top: 15px;
}

.preview-cv span {
  font-weight: bold;
}

#personal-info {
  text-align: center
}

.split-horizontally {
  display: flex;
  justify-content: space-between;
}

.right-section {
  text-align: end;
}

.add-button {
  margin-top: 5vmin;
  align-self: start;
  font-family: inherit;
  font-size: 1.1rem;
  padding: 0.3vmin 1vmin;
  background-color: rgb(147, 227, 254);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:active {
    background-color: rgb(35, 153, 192);
  }
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  margin-bottom: 3vmin;
}

.info-list-content {
  box-shadow: 0px 4px 20px #0000001d;
  border: 1px solid #dadada;
  font-size: 1.2rem;
  padding: 0.5vmin 1vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vmin;
}

.info-list-content button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}